openapi: 3.1.0
info:
  title: Densify API - Monitored Hosts
  version: 1.0.0
  description: |
    This API allows you to retrieve and modify the health status of monitored hosts.
    It provides endpoints to get a collection of monitored hosts, retrieve details of a specific host,
    and override the health status of a host.
servers:
  - url: https://api.densify.com/v1
    description: Densify API Server
paths:
  /monitored-hosts:
    get:
      summary: Retrieve a collection of monitored hosts
      parameters:
        - name: health_status
          in: query
          description: Filter hosts by health status
          required: false
          schema:
            type: string
            enum: [HEALTHY, UNHEALTHY]
        - name: infrastructure_group_id
          in: query
          description: Filter hosts by infrastructure group ID
          required: false
          schema:
            type: string
      responses:
        "200":
          description: A list of monitored hosts
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Unique identifier of the host
                    name:
                      type: string
                      description: Name of the host
                    href:
                      type: string
                      description: URL to access the host resource
  /monitored-hosts/{id}:
    get:
      summary: Retrieve details of a specific monitored host
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the monitored host
          schema:
            type: string
      responses:
        "200":
          description: Details of the monitored host
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  href:
                    type: string
                  health_status:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          enum: [HEALTHY, UNHEALTHY]
                        details:
                          type: string
                        status_timestamp:
                          type: string
                          format: date-time
                        infrastructure_group:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            href:
                              type: string
    put:
      summary: Override the health status of a monitored host
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the monitored host
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [HEALTHY, UNHEALTHY]
                status_timestamp:
                  type: string
                  format: date-time
      responses:
        "200":
          description: Health status overridden successfully
        "400":
          description: Invalid input
        "404":
          description: Monitored host not found
components:
  schemas:
    MonitoredHost:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        href:
          type: string
        health_status:
          type: array
          items:
            type: object
            properties:
              status:
                type: string
                enum: [HEALTHY, UNHEALTHY]
              details:
                type: string
              status_timestamp:
                type: string
                format: date-time
              infrastructure_group:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  href:
                    type: string
